{%extends 'header.html'%}

{%block content%}
        <h2>NEW USER REGISTRATION</h2>
        <p>Already have a acount,click<a href="{{url_for('sign_in')}}">here</a> to sign_in </p>
        <form action='' method='post'>
            {{form.hidden_tag()}}
            <p>
                {{form.name.label}}<br>
                {{form.name(size=40)}}
            </p>  
            <p>
                {{form.last_name.label}}<br>
                {{form.last_name(size=40)}}
            </p>
            <p>
                {{form.email.label}}<br>
                {{form.email(size=40)}}
            </p>
            <p>
                {{form.phone.label}}<br>
                {{form.phone(size=40)}}
            </p>  
            <p>
                {{form.username.label}}<br>
                {{form.username(size=40)}}
                {%for error in form.username.errors%}
                <span style="color: red;">{{error}}</span>
                {% endfor %}
               
            </p>   
            <p>
                {{form.password.label}}<br>
                {{form.password(size=40)}}
                {%for error in form.password.errors%}
                <span style="color: red;">[{{error}}]</span>
                {% endfor %}                
            </p> 
            <p>
                {{form.repeat_password.label}}<br>
                {{form.repeat_password(size=40)}}
                {%for error in form.repeat_password.errors%}
                <span style="color: red;">[{{error}}]</span>
                {% endfor %}                
            </p> 
           <p>{{form.submit()}}</p>
        </form>
       
{%endblock%}